java9/conf/resources/designer/rwconf.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 rel. 3 U (http://www.altova.com)-->
<!ELEMENT module (#PCDATA)>
<!ATTLIST module
	type CDATA #REQUIRED
>
<!ELEMENT rule (module+)>
<!ATTLIST rule
	instanceName CDATA #REQUIRED
	workstepName CDATA #REQUIRED
	dateTime CDATA #REQUIRED
>
<!ELEMENT rulewizard (rule+)>
<!ATTLIST rulewizard
	name CDATA #REQUIRED
	file CDATA #REQUIRED
	category CDATA #REQUIRED
>
<!ELEMENT rulewizards (rulewizard+)>
