java9/conf/resources/bpmportal/links.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="CommandList">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="link" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="link">
        <xsd:complexType>
			<xsd:attribute name="id" type="xsd:string"/>
			<xsd:attribute name="url" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
