java9/conf/resources/bpmportal/SBMResource.dtd


<!ELEMENT SBMResource (Component)+>
<!ELEMENT Component (ResourceType)+>
<!ELEMENT ResourceType (Action*, Instance*)>
<!ELEMENT Instance (Action*)+>
<!ELEMENT Action (#PCDATA)>
<!ATTLIST Component name CDATA #REQUIRED>
<!ATTLIST ResourceType name CDATA #REQUIRED>
<!ATTLIST Resource name CDATA #REQUIRED>
<!ATTLIST Instance id CDATA #REQUIRED name CDATA #IMPLIED>