java9/conf/resources/common/InstanceMap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by babu (savvion) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Application">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="WorkStepMap"/>
                <xs:element ref="DataSlotMap"/>
            </xs:sequence>
            <xs:attribute name="source" type="xs:string" use="required"/>
            <xs:attribute name="target" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataSlot">
        <xs:complexType>
            <xs:attribute name="source" type="xs:string"/>
            <xs:attribute name="target" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="DataSlotMap">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DataSlot" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description" type="xs:string"/>
    <xs:element name="InstanceMap">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Description"/>
                <xs:element ref="Application"/>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="WorkStep">
        <xs:complexType>
            <xs:attribute name="source" type="xs:string"/>
            <xs:attribute name="target" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="WorkStepMap">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="WorkStep" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

