java9/conf/resources/common/InstanceFilter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Application">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Condition"/>
			</xs:sequence>
			<xs:attribute name="source" type="xs:string" use="required"/>
			<xs:attribute name="target" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Condition" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="InstanceFilter">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Description"/>
				<xs:element ref="Application"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>

